<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="card">
            <textarea name="estados" cols="30" rows="10" disabled>
             {{dados_estados}}
            </textarea>
            <a href="/dashboard" class="botao center bg-red"> Voltar </a>
        </div>
    </div>
</body>

</html>