<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

    <title>Login</title>
</head>
<body>


    <div class="container">
        <div class="card center">
            <h1 class="login">LOG-IN</h1>
            <form action="/logar" method="post" class="formulario">
                <input class="usuario "type="text" name="nome" id="usuario" placeholder="Usuário"> 
                <input class="senha" type="password" name="senha" id="senha"  placeholder="Senha"> 
                <div class="controle">
                    <button class="botao">Enviar</button>  
                    <a href="/cadastrar" class="cadastrar"> Cadastrar-se</a>
                </div>
            </form>
        </div>
    </div>


</body>
</html>